.shopin_background {
    background-image: linear-gradient(to bottom, #008afc, #6e9dfc 45%, #baabfc);
    position: absolute;
    overflow-x: hidden;
    width: 3000px;
    top: 0px;
    left: -35%;
    right: 0%;
    z-index: -1;
    border-radius: 0% 0% 100% 100%;
    height: 960px;
  }

  @media (max-width: 1200px) {
    .shopin_background {
        width: 3000px;
        height: 950px;
      }
  }

  @media (max-width: 991px) {
    .shopin_background {
        width: 3000px;
        height: 1100px;
      }
  }

  @media (max-width: 768px) {
    .shopin_background {
        width: 2000px;
        height: 880px;
      }
  }

  @media (max-width: 576px) {
    .shopin_background {
        width: 2000px;
        height: 900px;
      }
}
@media (max-width: 403px) {
    .shopin_background {
        width: 1000px;
        height: 950px;
      }
}
@media (max-width: 395px) {
    .shopin_background {
        width: 1000px;
        height: 980px;
      }
}