.margin_top_10 {
    margin-top: 10px;
}

.margin_top_20 {
    margin-top: 20px;
}

.margin_top_30 {
    margin-top: 30px;
}

.margin_top_40 {
    margin-top: 40px;
}

.margin_top_50 {
    margin-top: 50px;
}

.margin_top_60 {
    margin-top: 60px;
}

.margin_top_80 {
    margin-top: 80px;
}

.margin_top_100 {
    margin-top: 100px;
}

.margin_top_150 {
    margin-top: 150px;
}

.margin_top_180 {
    margin-top: 180px;
}

.margin_top_120 {
    margin-top: 110px;
}

.margin_top_200 {
    margin-top: 200px;
}

.margin_bottom_10 {
    margin-bottom: 10px;
}

.margin_bottom_20 {
    margin-bottom: 20px;
}

.margin_bottom_40 {
    margin-bottom: 40px !important;
}

.margin_bottom_50 {
    margin-bottom: 50px !important;
}

.margin_bottom_60 {
    margin-bottom: 60px !important;
}


.margin_bottom_80 {
    margin-bottom: 80px;
}

.margin_bottom_100 {
    margin-bottom: 100px;
}
.drag_bottom{
    margin-bottom: -57px !important;
}
.drag_bottom_intro {
    margin-bottom: -47px !important;
}

.aa {
    color: inherit;
   }
  
  .aa:hover {
    color: inherit;
   text-decoration: none !important;
  }

  .font_normalize {
      font-weight: 300 !important;
  }

  .center_col {
      position: relative;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
  }

  .left_col {
    position: relative;
    align-items: left;
    justify-content: left;
    display: flex;
    flex-direction: column;
}

.steps_start {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}