.battling_animals {
    height: auto;
    width: 554px;
}

.margin_top_battle {
    margin-top: 200px;
}

.battle_size {
    font-size: 18px !important;
}
.daily_rule_container {
    font-weight: 300;
    position: relative;
}
.polygon {
    position: absolute;
    left: -10px;
    top: 5px;
    width: 36px;
    height: 42.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}
.daily_font {
    font-weight: normal;
}

.daily_rule{
    margin-left: 30px;
}
.daily_subtitle {
    font-size: 24px;
    margin-bottom: 20px;
}

.start_here {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 213px;
}
.rules_container {
    justify-content: flex-start !important;
}
.margin_left_rule {
    margin-left: 30px;
}
.daily_rule_container {
    margin-left: 25px;
}

@media(max-width: 991px) {
    .polygon {
        height: 47px;
        width: 39.4px;
        font-size: 22px;
        font-weight: 900;
        top: 0px;
    }
} 

@media(max-width: 767px) {
    .daily_rule{
        margin-left: 0px;
    } 
    .daily_rule_container {
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .polygon {
        position: inherit;
        margin: auto;
        left: 0px;
        top: 0px;
        margin-bottom: 10px;

    }
.center_on_mobile {
    margin: auto;
}
    .start_here_text {
    }
    .start_here {
        display: flex !important;
        width: 213px !important;
        font-size: 24px;
        font-weight: 500 !important;
        height: 52px !important;
    }
    .battling_animals {
        height: auto;
        width: 322px;
    }
}

@media(max-width: 576px) {
    .daily_font {
        font-size: 18px;
    }
    .small_margin_bottom_mobile {
        margin-bottom: 10px !important;
    }
    .best_trader {
        font-size: 30px !important;
        margin-bottom: -10px;
    }
}