.username {
    font-size: 72px;
    margin-top: 40px;
    color: #464646;
    font-weight: 300;
    word-break: break-all;

}
.filler {
    width: 40px;
    margin-top: -18px;
    margin-left: 25px;
}

.tasks_details {
    margin-left: 30px;
}
.trophy {
    width: 47px;
    margin-left: 15px;
    margin-top: -18px;
}
.achievement_link {
    color: #fff;
    font-weight: 300;
}
.achievement_link:hover {
    color: #fff;
    text-decoration: underline !important;
}
.align_detail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.profile_wrapper {
    width: 100%;
}
.hello_username {
    font-size: 55px;
}

.margin_top_profile_page {
    margin-top: 80px;
}

.achievement_profile {
    position: relative;
    padding: 0px;
    display: flex;
    margin: 30px;
    margin-top: 40px;
    width: 490px;
    height: 205px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 2px #737373;
  }
  .achievement_line_profile {
    position: absolute;
    left: 138px;
    top: 28px;
    width: 2px;
    height: 144px;
    background-color: #4ccead;
  }

  .end_result_line {
      margin-top: 15px;
  }

.achievement_img_container {
    margin-left: 45px;
    margin-right: 50px;
    width: 90px;
}

.form_checkbox {
    border-radius: 5px !important;
  background-color: #d8d8d8 !important;
  border: solid 1px #4ccead !important;
}

.profile_img {
    width: 202px;
    border-radius: 50%;
}

.no_bottom_border {
    border-bottom: none !important;
    height: auto !important;
}
.achievement_progressbar {
    position: absolute;
    left: 0px;
    bottom: -30px;
    width: 100.2%;
    border-radius: 0px 0px 5px 5px;
    height: 30.1px;
    background-color: #464646;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }
  .achievement_progress {
    transition: all 2s;
      position: absolute;
      left: 0px;
      border-radius: 0px 0px 0px 5px;
      background-image: linear-gradient(to left, #008afc, #6e9dfc 45%, #baabfc);
    height: 100%;
    width: 100%;
  }

  .amount_currently {
      color: #fff !important;
      position: absolute;
      right: 15px;
      top: 3px;
  }
  .amount_to_complete {
    color: #fff !important;
    position: absolute;
    right: 15px;
    top: 3px;
  }
  .amount_currently_placeholder {
    color: #fff !important;
    position: absolute;
    right: -25px;
    top: 3px;
}
  .achievements_title_profile {
    margin-top: 30px;
    margin-bottom: 37px;
}
  .current {
      position: absolute;
      font-size: 20px;
      right: 21px;
      z-index: 30;
      color: #4a4a4a;
  }
  .facebook_tooltip {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    height: auto;
    width: 24px;
}
.facebook_tooltip_box {
    width: 190px;
    background-size: cover;
    height: 91px;
    left: 40px;
    top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.facebook_tooltip_text {
    margin-left: 16px;
    text-align: justify !important;
    color: #214579 !important;
    margin-top: 4px;
    font-size: 12px;
    width: 140px;
}

  .current_fix {
      right: -31px !important;
  }
  .margin_top_desktop {
      margin-top: -20px;
  }

  .less_border_radius {
       border-bottom-left-radius: 0px !important;
       border-bottom-right-radius: 0px !important;
       height: 219px;
  }

  .coins_resizing {
      width: 100px !important;
  }

  @media (max-width: 1200px) {
    .filler {
        width: 40px;
        margin-top: -18px;
        margin-left: 25px;
    }
    .tasks_details {
        margin-left: 60px;
    }
    .username {
        font-size: 80px;
    }
  }

  @media (max-width: 992px) {
      .detail_row {
          width: 300px;
          margin-left: 40px !important;
          display: flex;
          justify-content: space-between;
      }
    .filler {
        width: 40px;
        margin-top: -18px;
        margin-left: 20px;
    }
    .tasks_details {
        margin-left: 0px;
    }
    .margin_top_date {
        margin-top: 20px;
    }
      .profile_margin {
          margin-top: 235px;
      }
      .user_details {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          margin-bottom: 20px !important;

      }
      .user_detail {
      }
  }
  @media (max-width: 768px) {
      .less_border_radius {
          height: 409px;
      }
      .achievement_reward_profile_mobile {
          margin-top: -20px !important;
      }
    .profile_margin {
        margin-top: 182px;
    }
      .margin_top_desktop {
          margin-top: 0px;
      }
    .detail_row {
        width: 360px;
        margin-left: 60px !important;
        display: flex;
        justify-content: space-between;
    }
    .filler {
        width: 40px;
        margin-top: -18px;
        margin-left: 20px;
    }
    .tasks_details {
    }

    .achievement_profile {
        height: 470px !important;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center !important;
      }
  }
  @media (max-width: 576px) {
    .hello_username {
        font-size: 30px !important;
    }
    .detail_row {
        width: 320px;
        margin-left: 20px !important;
    }
    .profile_img {
        width:45%;
        height: auto;
    }
    .username {
        font-size: 50px;
    }
  }