.results_title {
  margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
  }

  .margin_top_results {
    margin-top: 214px;
  }
.results_title_header {
  font-weight: 600;
  font-size: 55px;
}
  .results_img {
    width: 45px;
    border-radius: 50%;
  }

  .result_username:hover {
    text-decoration: underline;
  }

  .results_container {
    padding: 70px 100px;
      margin-top: -250px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .seperator_container {
    border: 1px solid;
  }

  .results_no_users {
    margin-top: 400px;
  }
  .shopin_background_results {
    background-image: linear-gradient(to bottom, #008afc, #6e9dfc 45%, #baabfc);
    position: absolute;
    width: 170%;
    left: -35%;
    right: 0%;
    top: 0px;
    z-index: -1;
    border-radius: 100%;
    height: 400px;
  }

  .footer_results {
    background-color: #008797;
    background-size: cover;
  }

  .seperator {
    margin-top: 60px;
    margin-bottom: 60px;
    top: 60px;
    left: 15px;
    width: 855px;
    position: absolute;
    height: 3px;
    border-bottom: solid 1px #4ccead;
  }

  .results_description {
    font-weight: 100;
    margin-left: 20px;
  }

  .result_container {
    position: relative;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
  }


  .coin_result {
    width: 45px;
    margin-right: 3px;
  }

  .coin_result_detail {
    margin-top: 10px;
  }

  .searchbar_results {
    padding-left: 15px;
    color: #fff !important;
    width: 100%;
    height: 42px;
    opacity: 0.9;
    border-radius: 8px;
    font-weight: 200;
    border: none;
    background-color: #008afc;
  }
  .searchbar_results::placeholder {
    color: #fff;
    font-weight: 200;
  }
  .result_user_container {
    font-size: 20px !important;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  .result_line {
    height: 27px;
    border: solid .5px #baabfc;
  }
  .footer_container_results {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
  }
  .less_margin {
    margin-top: 280px !important;
  }
  @media (max-width: 1200px) {
    .seperator {
      width: 710px;
    }
  }

  @media (max-width: 991px) {
    
    .seperator {
      width: 100%;
      top: 190px;
    }
    .result_line {
      display: none;
    }
    .result_container {
      margin-top: 20px !important; 
      justify-content: center;
    }
    .result_user_container {
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    .coin_result_detail {
      margin-top: 6px;
    }
    .mobile_seperator_results {
      position: absolute;
      bottom: -60px;
      border-top: solid 1px #baabfc;
      width: 100%;
    }
    .margin_mobile_results {
      margin-top: -200px;
    }
    .results_container {
      margin-top: 50px;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
    .coin_result {
      margin: 0px !important;
    }
    .coin_result_container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
    .results_title {
      margin-top: 314px;
      font-size: 20px;
      font-weight: bold;
    }
    .seperator {
      top: 100%;
    }
  }