.to_helpbot {
    font-weight: 700;
    color: #464646;
}

.to_helpbot:hover {
    color: #464646;
}


.helpbot_title {
    font-size: 55px;
}

.helpbot_footer {
    bottom: 0px;
    clear: both;
    position: absolute;
}

@media (max-width: 768px) {
    .helpbot_title {
        font-size: 40px;
    }
}