
    .margin_formpage_top {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white !important;
        margin-top: 153px !important;
    }
.formpage_header {
    margin-top: -40px !important;
}

.less_margin_top {
    margin-top: 140px !important;
}

@media (max-width: 768px) {
    .formpage_header {
        margin-top: 80px !important;
    }
    .margin_formpage_top {
        color: white !important;
        margin-top: 83px !important;
    }
}
