.navbar_container {
  position: relative;
  z-index: 1;
  height: 100px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
}

.search {
  position: relative;
}

.button_navbar {
  width: 180px !important;
  margin-top: 0px !important;
}

.close_mobile_nav {
  z-index: 99999999;
}

.logo {
  width: 240px;
  min-width: 240px;
}

.help_holder {
}

.button_navbar_home {
  width: 100px !important;
  color: #fff !important;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: -5px;
  left: 50px;
  border-bottom: 5px solid white;
}

.logo_container {
  margin-top: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.width_fifty {
  width: 144px !important;
}
.nav_link {
  margin: 0px 10px;
  display: flex;
  width: 180px !important;
  align-items: center;
  height: 60px;
}
.nav_elements {
  margin-right:-9px;
}
.nav_link:hover {
}

.searchbar {
  padding-left: 15px;
  color: #ffffff !important;
  width: 310px;
  font-family: 'Roboto';
  height: 42px;
  opacity: 0.9;
  border-radius: 8px;
  font-weight: 200;
  border: none;
  background-color: #008afc;
}
.collapse_nav {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: -55px;
}
.searchbar::placeholder {
  color: #ffffff;
  font-weight: 200;
}
.close_menu_button {
  position: absolute;
  top: 30px;
  right: 100px;
  width: 34px;
  z-index: 2147483647;
  cursor: pointer;
}
.max_width {
  display: flex;
  width: 100%;
}
.search_button {
  cursor: pointer;
  position: absolute;
  right: 0%;
  border: none;
  border-radius: 0px 8px 8px 0px; 
  width: 54px;
  height: 42px;
  background-color: #008afc;
}
.mobile_nav_seperator {
  width: 160px;
  height: 3px;
  background-color: #fff;
}
.blur { 
  position: absolute;
  height: 1900px;
  width: 1900px;
}

.mobile_menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 40%;
  height: 190px;
  width: 200px;
  font-size: 20px;
}
.brand {
  position: absolute;
  left: 50%;
  display: block;
}
.collapse_nav_ipad {
  display: none;
}
.navbar-header {
  float: left;
  margin-left: 55px !important; /* 50% of your logo width */
  text-align: center;
  width: 100%;
}
.logo_explorer {
  margin-left: 30px !important;
}
.navbar-brand {
  float: none;
}
.search_tooltip {
  margin-top: 30px !important;
  font-size: 16px;
}
.less_width {
  width: 100px !important;
}
@media (max-width: 992px) {
  .logo {
    margin-left: 20px;

  }
    .nav_elements {
        margin-right: -100px;
    }
    .searchbar {
        width: 200px;
      }
      .navbar-header {
        margin-left: 0px !important;
      }
}
@media (max-width: 845px) {
  .close_menu_button {
    position: absolute;
    top: 30px;
    right: 75px;
  }
  .nav_elements {
   display: none !important;
  }
  .collapse_nav_ipad {
    display: inline;
    cursor: pointer;
    margin-left: 50px;
    right: 0px;
    top: 0px;
  }
  .button_navbar {
    margin-left: -50px;
  } 
}

@media (max-width: 797px) {

  .button_navbar {
    margin-left: -10px !important;
  }
}
@media (max-width: 768px) {
  .close_menu_button {
    top: 35px;
    right: 62px;
  }
}

@media (max-width: 767px) {
  .button_navbar {
    margin-left: 40px !important;
  }
.collapse_nav_ipad {
  display: none;
}

  .navbar_container {
    height: auto;
  }
  .searchbar {
    margin-bottom: 10px;
    width: 100%;
  }
  .navbar-header {
    margin-left: 0px !important;
    width: auto;
  }

  .help_holder {
    align-items: center;
  }
  .logo {
    margin-left: 0px;
    margin-bottom: 10px;
    min-width: 240px;
  }
  .logo_container {
  }
  .close_menu_button {
    top: 22px;
    right: 140px;
  }
}

@media (max-width: 720px) {
  .close_menu_button {
    top: 22px;
    right: 14%;
  }
}
@media (max-width: 720px) {
  .close_menu_button {
    top: 22px;
    right: 14%;
  }
}
@media (max-width: 680px) {

}

@media (max-width: 576px) {
  .logo {
    width: 85%;
    min-width: 240px;
  }
  .close_menu_button {
    top: 22px;
    right: 30px;
  }
}

@media (max-width: 576px) {
  .close_menu_button {
    height: 25px;
    top: 24px;
    right: 28px;
  }
}

@media (max-width: 330px) {
  .logo {
    min-width: 200px !important;
    width: 200px !important;
  }
  .close_menu_button {
    height: 25px;
    top: 24px;
    right: 28px;
  }
}

